body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

#app {
  max-width: 480px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background: #22c55e;
  color: #022c22;
  font-size: 16px;
}
